<PixBackgroundHeader class="user-certifications-page-get">

  <PixBlock>
    <LinkBack @text="Retour à mes certifications" @route="user-certifications" @color="white" />
    <UserCertificationsDetailHeader @certification={{@model}} />
  </PixBlock>

  <div class="user-certifications-page-get__details-body">
    <UserCertificationsDetailCompetencesList @resultCompetenceTree={{@model.resultCompetenceTree}} />
    {{#if (or @model.commentForCandidate @model.hasCleaCertif)}}
      <UserCertificationsDetailResult @certification={{@model}} />
    {{/if}}
  </div>

</PixBackgroundHeader>
